:root {
  --color-branding: #6c63ff;
  --color-secondary: #f9f7fe;
  --heading-font-family: "Playfair Display", serif;
  --body-font-family: "Poppins", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--heading-font-family);
  font-weight: bold;
  color: black;
}

h1 {
  font-size: 96px;
}

h2 {
  font-size: 48px;
}

h3 {
  font-size: 18px;
  padding: 20px 0;
}

p {
  font-family: var(--body-font-family);
  font-weight: normal;
  line-height: 30px;
}

.hero {
  background-color: var(--color-secondary);
  text-align: center;
  padding: 160px 20px;
}

.hero p {
  font-size: 30px;
  font-weight: bold;
  margin: 0;
  color: #272142;
}

.hero h2 {
  font-family: var(--body-font-family);
  font-weight: normal;
  line-height: 1.5;
  font-size: 24px;
}

.btn-branding {
  background-color: var(--color-branding);
  border-radius: 4px;
  color: white;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
}

.btn-branding-outline {
  color: var(--color-branding);
  border: 1px solid var(--color-branding);
  border-radius: 4px;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
}

.project-description {
  padding: 120px 60px;
}

@media (max-width: 900px) {
  h1 {
    font-size: 46px;
    line-height: 2;
  }
  h2 {
    font-size: 44px;
    line-height: 1.5;
  }

  .hero {
    padding: 80px 20px;
  }

  .project-description {
    padding: 0;
    text-align: center;
  }
}

.about {
  padding: 160px 20px;
}

.about-description {
  padding: 0 60px;
}

.about h2 {
  padding: 20px 0;
}

.about img {
  border-radius: 12px;
}
