:root {
  --color-branding: #6c63ff;
  --color-secondary: #f9f7fe;
  --heading-font-family: "Playfair Display", serif;
  --body-font-family: "Poppins", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--heading-font-family);
  font-weight: bold;
  color: black;
}

h1 {
  font-size: 96px;
}

h2 {
  font-size: 48px;
}

h3 {
  font-size: 18px;
  padding: 20px 0;
}

h4 {
  font-size: 48px;
}

p {
  font-family: var(--body-font-family);
  font-weight: normal;
  line-height: 30px;
}

.hero,
.about,
.work,
.contact {
  padding: 160px 20px;
}

.hero {
  background-color: var(--color-secondary);
  text-align: center;
}

.hero p {
  font-size: 30px;
  margin: 0;
  color: #272142;
}

.hero h2 {
  font-family: var(--body-font-family);
  font-weight: normal;
  line-height: 1.5;
  font-size: 24px;
}

.btn-branding {
  background-color: var(--color-branding);
  border-radius: 4px;
  color: white;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
}

.btn-branding-outline {
  color: var(--color-branding);
  border: 1px solid var(--color-branding);
  border-radius: 4px;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
}

.project-description {
  padding: 120px 60px;
}

.about-description {
  padding: 0 60px;
}

.about h2 {
  padding: 20px 0;
}

.about img {
  border-radius: 12px;
}

.work h2 {
  width: 600px;
  padding: 20px 0;
}

.work h3 {
  text-align: center;
  font-size: 24px;
  padding: 0;
}

.firstline {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  color: black;
}

.secondline {
  text-align: center;
  color: rgba(39, 33, 66, 0.7);
  font-size: 14px;
  line-height: 21px;
  font-style: normal;
}

.contact h2 {
  margin-left: 50px;
}

.logo {
  max-height: 40px;
}

nav {
  padding: 20px 0;
}

nav ul {
  margin: 0;
  padding: 0;
}

nav li {
  display: inline;
  list-style: none;
  line-height: 42px;
  margin-left: 15px;
}

nav a {
  text-decoration: none;
  color: #272142;
  transition: all 100ms ease-in-out;
}

nav a:hover,
nav li.active a {
  color: var(--color-branding);
}

footer {
  margin: 60px 0;
}

footer .contact-box {
  background: var(--color-secondary);
  padding: 30px 120px;
  border-radius: 10px;
}

footer .contact-box p {
  margin: 0;
}

footer .email-link {
  text-decoration: none;
  color: black;
  font-size: 24px;
}

footer .email-link:hover {
  color: var(--color-branding);
}

footer .social-links a {
  margin: 0 20px;
  color: var(--color-branding);
  background: var(--color-secondary);
  padding: 10px 14px;
  font-size: 18px;
  border-radius: 50%;
  transition: all 100ms ease-in-out;
}

footer .social-links a:hover {
  background: var(--color-branding);
  color: white;
}

@media (max-width: 900px) {
  h1 {
    font-size: 46px;
    line-height: 2;
  }
  h2 {
    font-size: 44px;
    line-height: 1.5;
  }

  h4 {
    font-size: 26px;
  }

  .hero {
    padding: 80px 20px;
  }

  .project-description {
    padding: 0;
    text-align: center;
  }
}
